<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
  </configSections>
  <appSettings>
    <add key="BaseServiceAddress"        value="http://localhost:28080/" />
    <add key="NumberOfTasks"             value="100" />                     <!-- Test에 사용되는 Thread Task 개 수 -->
    <add key="NumberOfRequestsPerTask"   value="10" />                      <!-- 1개 Thread Task에서 실행하는 Request 개 수 -->
    <add key="ThreadSpeepBetweenTasks"   value="1000" />                    <!-- Thread Task 실행 사이에, 쉬는(Gap) 시간, MiliSeconds -->
    <add key="SpeepBetweenWebRequests"   value="100" />                     <!-- Client Web Request 사이에, 쉬는(Gap) 시간, MiliSeconds -->
  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <!-- Interfaces -->
    <alias alias="IConfigurationProvider" type="SelfHostedWebApi.Common.Abstracts.IConfigurationProvider, SelfHostedWebApi.Common" />
    <alias alias="IWebApiConfigurationProvider" type="SelfHostedWebApi.Common.Abstracts.IWebApiConfigurationProvider, SelfHostedWebApi.Common" />
    <alias alias="IWebApiClient" type="SelfHostedWebApi.Client.Abstracts.IWebApiClient`1, SelfHostedWebApi.Client" />
    <alias alias="ITestConfigurationProvider" type="SelfHostedWebApi.TestClient.Abstracts.ITestConfigurationProvider, SelfHostedWebApi.TestClient" />
    <alias alias="ITest" type="SelfHostedWebApi.TestClient.Abstracts.ITest, SelfHostedWebApi.TestClient" />

    <!-- Types -->
    <alias alias="Product" type="SelfHostedWebApi.Data.Models.Product, SelfHostedWebApi.Data" />

    <!-- Implementations -->
    <alias alias="DefaultConfigurationProvider" type="SelfHostedWebApi.Common.Providers.DefaultConfigurationProvider, SelfHostedWebApi.Common" />
    <alias alias="WebApiConfigurationProvider" type="SelfHostedWebApi.Common.Providers.WebApiConfigurationProvider, SelfHostedWebApi.Common" />
    <alias alias="DefaultWebApiClient" type="SelfHostedWebApi.Client.DefaultWebApiClient`1, SelfHostedWebApi.Client" />
    
    <alias alias="DefaultTestConfigurationProvider" type="SelfHostedWebApi.TestClient.Providers.DefaultTestConfigurationProvider, SelfHostedWebApi.TestClient" />
    <alias alias="SingleTest" type="SelfHostedWebApi.TestClient.Tests.SingleTest, SelfHostedWebApi.TestClient" />
    <alias alias="MultiThreadTest" type="SelfHostedWebApi.TestClient.Tests.MultiThreadTest, SelfHostedWebApi.TestClient" />
    <alias alias="TestFactory" type="SelfHostedWebApi.TestClient.Tests.TestFactory, SelfHostedWebApi.TestClient" />

    <container>
      <register type="IConfigurationProvider" mapTo="DefaultConfigurationProvider">
        <lifetime type="singleton" />
      </register>
      <register type="IWebApiConfigurationProvider" mapTo="DefaultTestConfigurationProvider"> <!-- WebApiConfigurationProvider -->
        <lifetime type="singleton" />
        <constructor>
          <param name="configurationProvider" type="IConfigurationProvider" />
        </constructor>
      </register>
      <register type="ITestConfigurationProvider" mapTo="DefaultTestConfigurationProvider">
        <lifetime type="singleton" />
        <constructor>
          <param name="configurationProvider" type="IConfigurationProvider" />
        </constructor>
      </register>

      <register type="IWebApiClient" mapTo="DefaultWebApiClient">
        <constructor>
          <param name="webApiConfiguration" type="IWebApiConfigurationProvider" />
        </constructor>
      </register>
      <register name="singleThread" type="ITest" mapTo="SingleTest">
        <constructor>
          <param name="client" type="IWebApiClient[Product]" />
        </constructor>
      </register>
      <register name="multiThread" type="ITest" mapTo="MultiThreadTest">
        <constructor>
          <param name="testConfiguration" type="ITestConfigurationProvider" />
        </constructor>
      </register>
      <register name="factory" type="ITest" mapTo="TestFactory">
        <constructor>
          <param name="testCase" type="ITest">
            <dependency name="singleThread" type="ITest"/>
          </param>
        </constructor>
      </register>
    </container>
  </unity>
</configuration>