<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <connectionStrings>
    <add name="OracleConnection" connectionString="Data Source=eDOCKER;User Id=scott;Password=tiger;Min Pool Size=10;Connection Timeout=120;Min Pool Size=100;" />
  </connectionStrings>
  <appSettings>
    <add key="BaseServiceAddress" value="http://localhost:28080/" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="4.122.0.0 - 4.65535.65535.65535" newVersion="4.122.18.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Container" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.9.5.0" newVersion="5.9.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="eDOCKER" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SID=XE)))" />
        <dataSource alias="eDOCKER32" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=XE)))" />
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <!-- Interfaces -->
    <alias alias="IConfigurationProvider" type="ePlatform.Common.Abstracts.IConfigurationProvider, ePlatform.Common" />
    <alias alias="IWebApiConfigurationProvider" type="ePlatform.WebApi.Abstracts.IWebApiConfigurationProvider, ePlatform.WebApi" />

    <alias alias="IDBAccessor" type="ePlatform.Data.Abstracts.IDBAccessor, ePlatform.Data" />
    <alias alias="IAccountRepository" type="ThreadLock.Data.Abstracts.IAccountRepository, ThreadLock.Data" />

    <alias alias="IWebApiServer" type="ePlatform.WebApi.Abstracts.IWebApiServer, ePlatform.WebApi" />
    
    <!-- Implementations -->
    <alias alias="DefaultConfigurationProvider" type="ePlatform.Common.Providers.DefaultConfigurationProvider, ePlatform.Common" />
    <alias alias="WebApiConfigurationProvider" type="ePlatform.WebApi.Providers.WebApiConfigurationProvider, ePlatform.WebApi" />

    <alias alias="OracleAccessor" type="ePlatform.Data.Accessors.OracleAccessor, ePlatform.Data" />
    <alias alias="AccountRepository" type="ThreadLock.Data.Repositories.AccountRepository, ThreadLock.Data" />
    
    <alias alias="DefaultWebApiServer" type="ThreadLock.OwinServer.DefaultWebApiServer, ThreadLock.OwinServer" />
    
    <container>
      <register type="IConfigurationProvider" mapTo="DefaultConfigurationProvider">
        <lifetime type="singleton" />
      </register>
      <register type="IWebApiConfigurationProvider" mapTo="WebApiConfigurationProvider">
        <lifetime type="singleton" />
        <constructor>
          <param name="configurationProvider" type="IConfigurationProvider" />
        </constructor>
      </register>

      <register type="IDBAccessor" mapTo="OracleAccessor">
        <lifetime type="singleton" />
        <constructor>
          <param name="connectionName" value="OracleConnection" />
          <param name="configurationProvider" type="IConfigurationProvider" />
        </constructor>
      </register>
      <register type="IAccountRepository" mapTo="AccountRepository">
        <lifetime type="singleton" />
        <constructor>
          <param name="dbAccessor" type="IDBAccessor" />
        </constructor>
      </register>

      <register type="IWebApiServer" mapTo="DefaultWebApiServer">
        <constructor>
          <param name="webApiConfiguration" type="IWebApiConfigurationProvider" />
        </constructor>
      </register>
    </container>
  </unity>
</configuration>