<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
  </configSections>
  <connectionStrings>
    <add name="WebApiDbConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=WebApiDb;Persist Security Info=True;User ID=EPLAN;Password=Test12340;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <!--<add name="WebApiDbConnection" connectionString="Data Source=.\SQLEXPRESS;Database=WebApiDb;User Id=EPLAN;Password=Test12340" providerName="System.Data.SqlClient" /> -->
  </connectionStrings>
  <appSettings>
    <add key="BaseServiceAddress" value="http://localhost:28080/" />
  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Container" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.9.5.0" newVersion="5.9.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <!-- Interfaces -->
    <alias alias="IConfigurationProvider" type="SelfHostedWebApi.Common.Abstracts.IConfigurationProvider, SelfHostedWebApi.Common"/>
    <alias alias="IWebApiConfigurationProvider" type="SelfHostedWebApi.Common.Abstracts.IWebApiConfigurationProvider, SelfHostedWebApi.Common"/>

    <alias alias="IDBAccessor" type="SelfHostedWebApi.Data.Abstracts.IDBAccessor, SelfHostedWebApi.Data"/>
    <alias alias="IRepository" type="SelfHostedWebApi.Data.Abstracts.IRepository`1, SelfHostedWebApi.Data"/>

    <!-- Implementations -->
    <alias alias="DefaultConfigurationProvider" type="SelfHostedWebApi.Common.Providers.DefaultConfigurationProvider, SelfHostedWebApi.Common"/>
    <alias alias="WebApiConfigurationProvider" type="SelfHostedWebApi.Common.Providers.WebApiConfigurationProvider, SelfHostedWebApi.Common"/>
    
    <alias alias="SqlServerAccessor" type="SelfHostedWebApi.Data.Accessors.SqlServerAccessor, SelfHostedWebApi.Data"/>
    <alias alias="ProductRepository" type="SelfHostedWebApi.Data.Repositories.ProductRepository, SelfHostedWebApi.Data"/>
    <container>
      <register type="IConfigurationProvider" mapTo="DefaultConfigurationProvider">
        <lifetime type="singleton"/>
      </register>
      <register type="IWebApiConfigurationProvider" mapTo="WebApiConfigurationProvider">
        <lifetime type="singleton"/>
        <constructor>
          <param name="configurationProvider" type="IConfigurationProvider" />
        </constructor>
      </register>
      
      <register type="IDBAccessor" mapTo="SqlServerAccessor">
        <lifetime type="singleton"/>
        <constructor>
          <param name="connectionName" value="WebApiDbConnection" />
          <param name="configurationProvider" type="IConfigurationProvider" />
        </constructor>
      </register>
      <register type="IRepository" mapTo="ProductRepository">
        <lifetime type="singleton"/>
        <constructor>
          <param name="dbAccessor" type="IDBAccessor" />
        </constructor>
      </register>
    </container>
  </unity>
</configuration>